<div class="container">
    <div class="list-group list-group-flush">
    {{#each products}}
        <div class="card-body" >
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <div>
                <span>ID: {{this.id}}</span>
                <span>Código: {{this.code}}</span>
                <span>Precio: ${{this.price}}</span>
                <span>Estado: {{this.status}}</span>
                <span>Stock: {{this.stock}}</span>
                <span>Categoría: {{this.category}}</span>
            </div>
            {{#if this.thumbnails}}
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}">
            {{/if}}
        </div>
    {{/each}}
    </div>
</div>